<?xml version="1.0"?>
    <!--
    /**
     * Module declaration file
     *
     * @copyright Copyright (c) 2024 Redo
     */
    -->
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
        <module name="Redo_RecurlyIntegration" setup_version="1.0.0">
            <sequence>
                <module name="Magento_Customer"/>
            </sequence>
        </module>
    </config>
